body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:#CFCFCF;
  }
  
  .top-navbar {
    background-color: white;
    color: #fff;
    width: 100%;
    display: flex;
    padding-bottom: 5px;
    padding-top: 5px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1; /* Set z-index to keep the top navbar above the content */
  }
  
  .sidebar {
    width: 250px;
    height: 100%;
    background-color: #003151;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2; /* Set a higher z-index to keep the sidebar above the top navigation bar */
    transition: width 0.5s; /* Add a smooth transition effect for the width */
  }
  
  .sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    margin-bottom: 80px;
  }
  
  .sidebar-title {
    font-size: 18px;
    color: #FCCDEF;
  }
  
  .sidebar-logo {
    width: 90px;
    height: 90px;
    margin-right: 5px;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #FCCDEF;
    margin-bottom: 40px;
  }
  
  .sidebar-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  
  .sidebar-link:hover {
    color: #FF00B8;
  }
  
  .sidebar.collapsed {
    width: 50px; /* Set the width you want for the collapsed state */
  }
  
  .sidebar.collapsed .sidebar-link {
    padding: 10px; /* Add padding to style the links in collapsed state */
    justify-content: flex-start; /* Align links to the start in collapsed state */
    align-items: center; /* Center align items vertically in collapsed state */
  }
  
  .sidebar.collapsed .sidebar-header {
    justify-content: center;
    padding: 10px; /* Add padding to style the header in collapsed state */
  }
  
  .sidebar.collapsed .sidebar-title {
    display: none;
  }
  
  .sidebar.collapsed .sidebar-logo {
    margin: 0 auto;
    width: 60px;
    height: 60px;
  }
  
  .sidebar.collapsed .sidebar-icon {
    width: 30px; /* Set the width you want for the collapsed state icons */
    height: 30px; /* Set the height you want for the collapsed state icons */
  }
  
  .sidebar.collapsed .sidebar-link span {
    display: none; /* Hide the text in collapsed state */
  }
  
  .sidebar.collapsed .sidebar-link-text {
    display: none; /* Hide the text in collapsed state */
  }

  .sidebar-link.current {
    background-color: #FF00B8; /* Set the background color you want for the current page */
    color: white; /* Set the text color for the current page */
  }
  
  .toggle-slider {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 17%;
    transition: margin-left 0.5s; /* Add a smooth transition effect for margin-left */
  }
  
  .admin-info {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .admin-name {
    color: #FF00B8; 
  }
  
  .admin-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 25px;
  }
  
  .logout-box {
    display: none;
    position: fixed;
    top: 52px;
    right: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
  }
  
  .logout-button {
    background-color: #FF00B8;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
  }
  
  .logout-button:hover {
    background-color: #FF009D;
  }
  
  /*navigation bars end here*/
  
  .hidden-row {
    display: none;
  }
  
  .content {
    margin-left: 250px; /* Adjust for the width of the sidebar */
    padding: 20px;
  }
  
  .search-bar {
    margin-top: 20px; /* Adjust the margin as needed */
    display: flex;
    justify-content: center;
  }
  
  .search-bar input {
    padding: 5px;
    width: 400px;
    border: 2px solid black; 
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    width: 30px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black; 
    border-radius: 5px; 
  }
  
  .search-button:hover {
    background-color: #FCCDEF;
  }
  
  .search-button img {
    width: 20px; 
    height: 20px; 
  }
  
  .search-button-container {
    margin-left: 5px; 
    background-color: white;
    border: 1px solid black; 
    border-radius: 5px; 
  }

  .action-buttons {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 10px; /* Adjust the margin as needed */
  } 

  .all-button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding-inline: 30px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .review-button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .approve-button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding-inline: 28px;
    margin-right: 20px;
    cursor: pointer;
    font-size: 15px;
  }  

  .reject-button {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding-inline: 28px;
    cursor: pointer;
    font-size: 15px;
  }  

  .all-button:hover{
    background-color:#FCCDEF;
  }
  
  .review-button:hover{
    background-color:#FCCDEF;
  }

  .approve-button:hover{
    background-color:#FCCDEF;
  }

  .reject-button:hover{
    background-color:#FCCDEF;
  }

  .customerQ-table {
    li {
      border-radius: 3px;
      padding: 25px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
      width: 90%;
    }
    .table-header {
      background-color: #95a5a6;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 0.03em;
    }
    .table-data {
      background-color: #ffffff;
      box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .table-data:hover{
      background-color:#FCCDEF;
      transition: background-color 0.3s; /* Add a smooth transition effect for the background color */
    }
    .data-1 {
      flex-basis: 10%;
    }
    .data-2 {
      flex-basis: 25%;
    }
    .data-3 {
      flex-basis: 25%;
    }
    .data-4 {
      flex-basis: 25%;
    }
    .data-5 {
        flex-basis: 15%;
    }
  }

  .bottom-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    display: flex;
    justify-content: space-between;
    width: 100px; /* Adjust the width as needed */
  
  }

  .navigation-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 20%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navigation-button:hover {
    background-color: #FCCDEF;
  }
  
  .navigation-button1 {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navigation-button2 {
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .navigation-button1:hover {
    background-color: #FCCDEF;
  }
  .navigation-button2:hover {
    background-color: #FCCDEF;
  }
  